/Common/lib
/Common/obj
/Common/Lib
/Native Client/Source/Client.rc
/Native Client/Source/resource.h
/Client/Temp
/Client/Builds
/Client/Data
/Client/Library
/Server/Data/server.db
/Server/Source/Source.rc
/Server/Source/resource.h
*.pak
*.opensdf
*.sln
*.suo
*.userprefs
*.aps
*.vssettings
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sdf
*.csproj
*.pidb
*.unityproj
*.pyc
*.blend1
*.blend2
__pycache__/
ipch/
Debug/
Release/
